{% extends 'base.html' %}

{% block content %}


<main class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 mt-5">


<form action="/create_task/" method="POST" class="card card-body m-3">
    {% csrf_token %}
    
    
    {{error}}

      <h3 class="m-1">Create Task</h3>
    <!-- <div class="d-flex justify-content-between align-items-center p-1 mb-1 bg-success text-white"> -->

      <!-- Título -->
       
    
      <!-- Descripción de Usuario -->
       
      <h5 class="m-3 text-primary">User: <i class="fw">&nbsp;&nbsp; &nbsp;&nbsp;{{user}}</i></h5>
    

    {{form}}
    <button class="btn btn-success ">Save</button>
  </form>

<!-- 
  
Cada campo se muestra individualmente como {{ form.title }}, {{ form.description }}, y {{ form.important }}, lo que  permite aplicar clases.
Agregar etiquetas <label> de manera explícita para control sobre cómo se muestran los textos, o usar{{ form.field_name.label }} para acceder a las etiquetas predeterminadas de Django.
la clase form-control de Bootstrap, como se mostró en el forms.py, los inputs se verán con un estilo más organizado y limpio.


-->

    </div>
  </div>

</main>

{% endblock %}

<!-- d-flex justify-content-between align-items-center:

    d-flex: Activa el contenedor Flexbox.
    justify-content-between: Distribuye el espacio entre los elementos, alineando el título a la izquierda y el nombre del usuario a la derecha.
    align-items-center: Alinea verticalmente los elementos al centro.

p-3 mb-4 bg-primary text-white:

    p-3: Añade relleno (padding) de 3 unidades alrededor del contenedor.
    mb-4: Añade un margen inferior de 4 unidades para dar espacio debajo de la barra.
    bg-primary: Le da un fondo de color primario (puedes cambiarlo por otro color como bg-info, bg-dark, etc.).
    text-white: Cambia el color del texto a blanco.

ms-4 y me-4:

    ms-4 y me-4 agregan márgenes a la izquierda y derecha de los elementos (espacio entre el título y el nombre del usuario).

fw-bold:

    La clase fw-bold pone el texto del nombre de usuario en negrita.

btn btn-success:

    Se usa la clase btn btn-success para estilizar el botón de guardar con un color verde claro. Si prefieres otro color, puedes cambiarlo por clases como btn-primary, btn-danger, etc. -->