{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
<section class="card card-body">
  <h3 class="display-1 text-center">App Tareas</h3>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius id odit molestias quis rerum placeat fugit harum amet, itaque temporibus officia neque esse deleniti eos hic optio corrupti, reprehenderit voluptatibus. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid laudantium enim aperiam rerum tempore autem ipsa praesentium, vitae, quam inventore necessitatibus sequi officia quasi doloremque neque dignissimos cupiditate. Deleniti, cupiditate?
  </p>

  <div class="text-center">
  <a class="btn btn-primary" href="/signin/">
    Sign In
  </a>

  <a class="btn btn-warning" href="/signup/">
    Sign Up
  </a>
</div>
</section>
</main>

{% endblock %}
