{% extends 'base.html' %}
<!-- {% load tz %} -->

<!-- {% load static %} -->

{% block content %}

<!-- <head>
  
  <link rel="stylesheet" href="{% static 'templates/static/css/tasks.css' %}">
</head> -->

<h3 class="text-center display-3 py-3"> &nbsp; Tasks &nbsp;Pending</h3>

<div class="d-flex justify-content-between align-items-center p-3 mb-4 bg-primary text-white"> 
  <!-- Descripción de Usuario -->
  <h5 class="ms-4">User: <span class="fw-bold">&nbsp;&nbsp;{{user}}</span></h5>
</div>

<main class="container">

  <div class="row">
    <div class="col-md-6 offset-md-3">

      <ul>
        {% for task in tasks %}
        <a class="list-group-item" href="{% url 'task_detail' task.id %}">
          
            <header class="d-flex justify-content-between">
              {% if task.important %}
                <h3 class="fw-bold text-success">{{task.title}}</h3>
              {% else %}
                {{task.title}}
              {% endif %}

              <!-- <p>{{task.user.username}}</p> -->
            </header>

            <!-- <span class="task-title">
              
            </span> -->
      
            <span class="task-date m">{{ task.datecompleted|localtime|date:"M d, Y h:i A" }} &nbsp;</span>
          
        </a>
        {% endfor %}
      </ul>
      

    </div>
  </div>


</main>


{% endblock %}


<!--     localtime: Convierte la fecha y hora a la zona horaria local configurada en settings.py.
    date:"M d, Y h:i A": Formatea la fecha y hora para mostrarla como "Feb 8, 2025 03:30 PM".

Si task.datecompleted está en UTC y necesitas ajustarlo a la zona horaria local antes de formatearlo, el filtro localtime se encarga de hacer esa conversión. -->