{% extends 'base.html' %}


{% block content %}


<!-- Para mostrar y resaltar las tareas NO importantes -->
<!-- <head>
 
  <style>
    .task-not-important {
        background-color: #7d489c;  /* Color de fondo llamativo, rojo */
        color: white;  /* Texto blanco para contraste */
        padding: 10px;  /* Espaciado alrededor del texto */
        border-radius: 5px;  /* Bordes redondeados si deseas */
    }
</style>

</head> -->

<main class="container">

  <div class="row">
    <div class="col-md-6 offset-md-3">


<h3 class="text-center display-3 py-3">Tasks &nbsp;Pending</h3>

<ul class="list-group">

<div class="d-flex justify-content-between align-items-center p-3 mb-4 bg-primary text-white"> 
  <!-- Descripción de Usuario -->
  <h5 class="m-2">User: <span class="fw">&nbsp;&nbsp;{{user}}</span></h5>
</div>


   
        {% for task in tasks %}
      
        <a class="list-group-item" href="{% url 'task_detail' task.id %}">
          
            <header class="d-flex justify-content-between m-1">
              {% if task.important %}
                <h3 class="fw text-success m-1">{{task.title}}</h3>
              {% else %}
                <h5 class="fw m-1 task-not-important" >{{task.title}}</h5>
              {% endif %}
              <!-- <p>{{task.user.username}}</p> -->
            </header>
       
            <p class="task-date m-1">{{ task.datecompleted|date:"M d, Y h:i A" }}</p>
          
        </a>
      
        {% endfor %}
      </ul>
      

    </div>
  </div>


</main>



{% endblock %}


<!--     localtime: Convierte la fecha y hora a la zona horaria local configurada en settings.py.
    date:"M d, Y h:i A": Formatea la fecha y hora para mostrarla como "Feb 8, 2025 03:30 PM".

Si task.datecompleted está en UTC y necesitas ajustarlo a la zona horaria local antes de formatearlo, el filtro localtime se encarga de hacer esa conversión. -->