{% extends 'base.html' %}

{% block content %}

{{task.title}}

{{error}}

<form method="POST">
  {% csrf_token %}
  {{form.as_p}}

  <div style="display: flex;">
 

  <button class="btn btn-primary m-2">
    Update
  </button>
</form>

<form action="{% url 'complete_task' task.id %}" method="POST">
  {% csrf_token %}
  <button 
  class="btn btn-warning m-2">
    Complete
  </button>
</form>

<form action="{% url 'delete_task' task.id %}" method="POST">
  {% csrf_token %}
  <button 
   class="btn btn-danger m-2">
    Delete
  </button><br>
</form>

{% endblock %}

<!-- ------------ Estilos ----------- -->
<!-- flex: 1;: hace que los botones ocupen el mismo ancho, distribuyendo el espacio disponible de manera uniforme entre ellos.
background-color: Define el color de fondo de cada botón.
color: white;: Cambia el color del texto dentro del botón a blanco.
border-radius: 8px;: Da bordes redondeados a los botones.
padding: 10px;: Añade un poco de espacio dentro de cada botón, para que no se vean tan ajustados.
border: none;: Elimina cualquier borde predeterminado del botón.
cursor: pointer;: Cambia el cursor al pasar sobre los botones, indicando que son clicables. -->