{% extends 'base.html' %}
{% load tz %}

<!-- {% load static %} -->

{% block content %}

<!-- <head>
  
  <link rel="stylesheet" href="{% static 'templates/static/css/tasks.css' %}">
</head> -->

<h3> &nbsp; Tasks &nbsp;Pending</h3>

<div class="d-flex justify-content-between align-items-center p-3 mb-4 bg-primary text-white"> 
  <!-- Descripción de Usuario -->
  <h5 class="ms-4">User: <span class="fw-bold">&nbsp;&nbsp;{{user}}</span></h5>
</div>

<ul>
  {% for task in tasks %}
  <li class="d-flex justify-content-between align-items-center">
    <a href="{% url 'task_detail' task.id %}" class="d-flex">
      <span class="task-title">
        {% if task.important %}
          <strong>{{task.title}}</strong>
        {% else %}
          {{task.title}}
        {% endif %}
      </span>

      <span class="task-date m">{{ task.datecompleted|localtime|date:"M d, Y h:i A" }} &nbsp;</span>
    </a>
  </li>
  {% endfor %}
</ul>

{% endblock %}


<!--     localtime: Convierte la fecha y hora a la zona horaria local configurada en settings.py.
    date:"M d, Y h:i A": Formatea la fecha y hora para mostrarla como "Feb 8, 2025 03:30 PM".

Si task.datecompleted está en UTC y necesitas ajustarlo a la zona horaria local antes de formatearlo, el filtro localtime se encarga de hacer esa conversión. -->